@import "tailwindcss";

@theme inline {
  --color-primary: #1152d4;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --font-display: "Inter", sans-serif;
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

body {
  font-family: var(--font-display);
}

.material-symbols-outlined {
  font-size: 20px;
  vertical-align: middle;
}
